<h1 style="margin-top: 100px;"></h1>


<h1 class="text-center my-4 text-primary font-weight-bold">Sign Up</h1>

<div class="container p-4 border rounded shadow-sm bg-light"  style="max-width: 1000px;">
  <%= form_with model: @user, url: create_registration_path, local: true, class: "d-flex flex-column align-items-center" do |form| %>
    <div class="mb-3 w-50">
      <%= form.label :email_address, "Email Address", class: "form-label" %>
      <%= form.email_field :email_address, placeholder: "Enter your email address", class: "form-control", required: true %>
    </div>

    <div class="mb-3 w-50">
      <%= form.label :password, "Password", class: "form-label" %>
      <%= form.password_field :password, placeholder: "Enter your password", class: "form-control", required: true %>
    </div>

    <div class="mb-3 w-50">
      <%= form.label :password_confirmation, "Confirm Password", class: "form-label" %>
      <%= form.password_field :password_confirmation, placeholder: "Re-enter your password", class: "form-control", required: true %>
    </div>

    <div class="mb-3 w-50">
      <%= form.submit "Sign Up", class: "btn btn-primary w-100" %>
    </div>
  <% end %>
</div>
<h1 style="margin-top: 150px;"></h1>
