

<%= form_with model: @product, class: "container mt-4 " do |form|  %>

  <div class="mb-3">
    <%= form.label :name, class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Enter product name" %>
  </div>
 

  <div class="mb-3">
    <%= form.label :description, class: "form-label" %>
    <%= form.text_area :description,  class: "form-control", rows: 5 %>
    
  </div>

  <div class="mb-3">
    <%= form.label :inventory_count, class: "form-label" %>
    <%= form.number_field :inventory_count, class: "form-control" %>
  </div>

  <div class="d-flex justify-content-between mt-4">
  <div class="w-50 pr-2">
    <%= form.submit "Update Product", class: "btn btn-primary w-100" %>
  </div>
  <div class="w-50 pl-2">
    <%= link_to "Cancel", @product, class: "btn btn-secondary w-100" %>
  </div>
</div>

<% end %>
  
