<h1 class="page-title text-center text-primary my-5 font-weight-bold"><%= t "Products" %></h1>

<%= link_to "New Product", new_product_path, class: "btn btn-success mb-4" if authenticated? %>

<div id="products" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4">
  <% @products.each do |product| %>
    <div class="col">
      <div class="card shadow-sm border-light rounded overflow-hidden h-100 hover-zoom">
        <%= link_to product_path(product), class: "product-link text-decoration-none text-dark" do %>
          <!-- Thêm hiệu ứng zoom cho hình ảnh -->
          <%= image_tag product.featured_image, alt: product.name, class: "card-img-top rounded-top img-fluid transition-transform" if product.featured_image.attached? %>
          <div class="card-body">
            <h5 class="card-title text-truncate" style="max-width: 100%"><%= product.name %></h5>
          </div>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
