<p>
  <%= link_to "Back", products_path, class: "btn btn-secondary mb-3" %>
</p>

<section class="product container my-4" >
  <div class="row">
    <div class="col-md-6">
      <%= image_tag @product.featured_image, class: "img-fluid rounded shadow-sm" if @product.featured_image.attached? %>
    </div>

    <div class="col-md-6">
      <section class="product-info">
      
        <% cache @product do %>
          <h1 class="fw-bold text-primary mb-3"><%= @product.name %></h1>
          <p class="text-muted"><%= @product.description %></p>
        <% end %>
  <div class="mt-4">
          <%= render "inventory", product: @product %>
        </div>
      

        <% if authenticated? %>
          <!-- Edit and Delete Buttons -->
          <div class="mt-4">
            <%= link_to "Edit", edit_product_path(@product), class: "btn btn-outline-primary me-2" %>
            <%= button_to "Delete", @product, method: :delete, data: { turbo_confirm: "Are you sure?" }, class: "btn btn-danger" %>
          </div>

          
        <% end %>
      </section>
    </div>
  </div>
</section>

<h1 style="margin-top: 140px;"></h1>
